<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Pokedex</title>
</head>
<header id="home">
    <nav>
        <ul>
            <li><a href="#inicio">Inicio</a></li>
            <li id="T">PROJETO 2</li>
            <li><a href="#pok">Abra a Dex</a></li>
        </ul>
    </nav>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1920px-International_Pok%C3%A9mon_logo.svg.png" alt="">
</header>
<body id="inicio">
    <main>
        <section class="click">

            <div id="click">

                <form action="/add" method="get" id="pok">
                    <button id="button" type="submit">CLIQUE PARA ABRIR A SUA HUMILDE POKEDEX !</button>
                </form>

            </div>
        </section>
    </main>
    <footer>
        <h2>UM AGRADECIMENTO AO PAULO SALVATORE</h2>
    </footer>
</body>
</html>